<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="libs/vue/vue.js"></script>
  <script type="text/javascript" src="libs/axios/axios.js"></script>
  <script type="text/javascript" src="libs/bootstrap-4.3.1-dist/js/bootstrap.js"></script>

  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./libs/bootstrap-4.3.1-dist/css/bootstrap.css">
  <title>Visualize Star Wars Heroes Data</title>
</head>
<body>
    <div id="app">
        <div class="row">
            <input class="searchBox" v-model="searchText" placeholder="Search...">
            <button v-on:click="search()">Search</button>
        </div>   
        <div class="row">
            <div class="card col-3" v-for="(hero, index) in heroes">
                <div class="card-header">
                    <h5 class="card-title">{{ hero.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Height: {{ hero.height }}</p>
                    <p class="card-text">Mass: {{ hero.mass }}</p>
                    <p class="card-text">Birth Year: {{ hero.birth_year }}</p>
                </div>
            </div>
        </div>
    </div>

  <script src="./js/main.js "></script>
</body>
</html>